- if current_user.blank?
  .ui.placeholder.basic.segment
    %img.ui.centered.small.image{src: 'https://voxpupuli.org/static/images/8bit-vox.png'}
    = link_to '/auth/github', class: 'ui basic button center aligned' do
      Please log in first
- else
  %h1.ui.header
    What's up,
    = current_user.nickname
    .sub.header
      Last sync was
      = @last_sync
  .ui.styled.fluid.accordion
    - @data.each do |type, repos|
      - next if repos.empty?
      .title
        .ui.primary.circular.label= repos.count
        = semantic_icon(:dropdown)
        = type.titleize
      .content
        - repos.each do |repo|
          .ui.basic.label= repo