- if current_user.blank?
- else
  %h1.ui.header
    What's up,
    = current_user.nickname
    .sub.header
      Last sync was
      = @last_sync
  .ui.styled.fluid.accordion
    - if @data
      - @data.each do |type, repos|
        - next if repos.empty?
        .title
          .ui.primary.circular.label= repos.count
          = semantic_icon(:dropdown)
          = I18n.t("repo_states.#{type}.title")
          %span{style: 'float: right;', data: { tooltip: I18n.t("repo_states.#{type}.description"), position: 'left center'}}
            %i.icon.question.mark.circle
        .content
          - repos.each do |repo|
            = link_to(repo, repository_path(repo), class: 'ui basic label')
    - else
      .ui.error.message
        Something went wrong while fetching latest local data.