%h1.ui.dividing.header
  - if current_user
    What's up,
    = current_user.nickname
  - else
    Hej! Nice to meet you :)
  .sub.header
    Last sync was
    = @last_status&.created_at

.ui.large.header Operating System Support
.ui.five.cards
  - ['Ubuntu', 'Debian', 'CentOS', 'FreeBSD', 'Fedora'].each do |os|
    .ui.card
      - relevant_status_count = @statuses.count { |rs| !rs.checks["supports_only_current_#{os.downcase}"].nil? }
      .content
        .ui.large.header= os
      %a.content{href: "checks/supports_only_current_#{os.downcase}"}
        - pass_count = @statuses.count{|rs| rs.checks["supports_only_current_#{os.downcase}"]}
        .ui.tiny.header{style: 'padding-bottom: 10px;'}
          Supports only current
          %span{data: { tooltip: I18n.t("check_descriptions.supports_only_current", os: os, versions: "#{os.upcase}_SUPPORT_RANGE".constantize.to_sentence), position: 'top center'}}
            %i.icon.question.mark.circle.outline
        %span.ui.huge.text{class: color_by_passed_checks(pass_count, relevant_status_count)}= pass_count
        %span.ui.big.grey.text{style: 'padding-left: 5px;'}
          \/
          = relevant_status_count

      %a.content{href: "checks/supports_latest_#{os.downcase}"}
        - pass_count = @statuses.count{|rs| rs.checks["supports_latest_#{os.downcase}"]}
        .ui.tiny.header{style: 'padding-bottom: 10px;'}
          Supports latest
          %span{data: { tooltip: I18n.t("check_descriptions.supports_latest", os: os, version: PuppetMetadata::OperatingSystem.latest_release(os)), position: 'top center'}}
            %i.icon.question.mark.circle.outline
        %span.ui.huge.text{class: color_by_passed_checks(pass_count, relevant_status_count)}= pass_count
        %span.ui.big.grey.text{style: 'padding-left: 5px;'}
          \/
          = relevant_status_count

.ui.large.header Syncing
.ui.four.cards
  = render partial: 'check_card', locals: {check_title: 'In Sync', check_name: 'synced'}
  = render partial: 'check_card', locals: {check_title: 'In Modulesync', check_name: 'in_modulesync_repo'}
  = render partial: 'check_card', locals: {check_title: 'Latest msync', check_name: 'latest_modulesync'}
  = render partial: 'check_card', locals: {check_title: 'Valid Sync File', check_name: 'valid_sync_file'}

.ui.large.header Dependencies
.ui.four.cards
  = render partial: 'check_card', locals: {check_title: 'Has PVR', check_name: 'with_puppet_version_range'}
  = render partial: 'check_card', locals: {check_title: 'Correct PVR', check_name: 'correct_puppet_version_range'}
  = render partial: 'check_card', locals: {check_title: 'Has Reference.md', check_name: 'reference_dot_md'}

.ui.basic.segment= area_chart PullRequest.group_by_day(:gh_created_at).count, title: 'Pull requests per day', library: {chart: {zoomType: 'x'}}
