%h1.ui.dividing.header
  %a.ui.right.floated.compact.basic.button{href: @repository.github_url, style: 'margin-top: 10px;'}
    = semantic_icon(:github)
    GitHub
  = @repository.name
  .sub.header
    = @repository.description

.ui.fluid.styled.accordion
  .title
    = semantic_icon(:dropdown)
    Repo Checks
    (
    = @repository.current_status.checks.count(&:last)
    of
    = @repository.current_status.checks.count
    successfull
    )
  .content
    .ui.four.cards
      - @repository.current_status.checks.each do |name, value|
        .ui.card{class: (value ? 'green' : 'red')}
          .content
            .ui.header
              = name.titleize
              .sub.header
                = begin
                  - I18n.t!("check_descriptions.#{name}")
                - rescue I18n::MissingTranslationData
                  - 'No translation'
          .extra.content
            .right.floated.author
              - if value
                passed
                = semantic_icon(:green, :check)
              - else
                failed
                = semantic_icon(:red, :times)

%h3.ui.header Open Pull Requests
.ui.fluid.styled.accordion
  - @repository.open_pull_requests.each do |pull_request|
    .title
      = semantic_icon(:dropdown)
      = pull_request.title
      - pull_request.labels.each do |label|
        .ui.small.horizontal.label{style: "background-color: ##{label.color}"}=label.name
    .content
      .ui.segment= markdown(pull_request.body)