.ui.dividing.massive.header= @check_name.titleize
%table.ui.celled.table#dttb
  %thead
    %th Name
    %th Description
    %th Check State
  %tbody
    - @repositories.each do |repo|
      %tr
        %td= link_to repo.name, repository_path(repo.name), class: 'ui mini basic compact primary button'
        %td= repo.description
        %td
          - if repo.passed_check?(@check_name)
            .ui.basic.green.mini.compact.button
              = semantic_icon(:check)
              success
          - else
            .ui.basic.red.mini.compact.button
              = semantic_icon(:times)
              failed