!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Vox Pupuli Tasks
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'https://cdn.jsdelivr.net/gh/Lukas-W/font-logos@v0.11/assets/font-logos.css'
  %body
    .ui.top.large.fixed.menu
      .ui.container
        %a.header.item{style: 'padding: 0px 15px', href: '/'}
          .ui.avatar.image
            %img.logo{src: 'https://voxpupuli.org/static/images/8bit-vox.png'}
          Vox Pupuli Tasks
        %a.item{href: '/repositories'}
          = semantic_icon(:list)
          Repositories
        %a.item{href: '/about'}
          = semantic_icon(:hand, :spock)
          About
        .right.menu
          - if admin?
            %a.item{href: '/sidekiq', target: '_blank'}
              = semantic_icon(:cogs)
              Background Jobs
          - if current_user.blank?
            = link_to '/auth/github', class: 'item', method: :post do
              = semantic_icon(:github)
              Log in
          - else
            .ui.item.dropdown
              .text
                %img.ui.avatar.image{src: current_user.avatar_url}
                = current_user.username
                - if admin?
                  = semantic_icon(:spy)
              .menu
                %a.item{href: '/sessions/destroy'} Log Out
              = semantic_icon(:dropdown)
    .ui.container{style: 'padding-top: 58px;'}
      = yield
